.parent_div {
  display: flex;
  padding: 10px;
  justify-content: center;
}
.div_1 {
  border: 1px solid black;
  width: 500px;
  margin: 10px 0 10px 10px;
  text-align: center;
  /* justify-content: center; */
  /* display: flex; */
}
.div_2 {
  border: 1px solid black;
  width: 1000px;
  margin: 10px 10px 10px 10px;
  justify-content: center;
  display: flex;
}
