.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.pImgDiv {
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.pImgDiv img {
  width: 150px;
  border: 5px solid #ffff;
  height: 150px;
  border-radius: 50%;
  margin-top: -75px;
  position: absolute;
  box-shadow: 0 0 20px 0px #3f51b5;
}
.pInfoDiv {
  margin-top: 100px;
  text-align: center;
}
.pInfoDiv h1,
h4,
.iconDiv,
p {
  margin: 0%;
}
.iconDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.detailsMain {
  margin-top: 20px;
}
.iconOrData {
  font-weight: bold;
  display: flex;
  line-height: 30px;
  align-items: center;
}
.pInfoDiv h1 {
  color: #3f51b5;
}
.detailsParents {
  display: flex;
  justify-content: center;
}
.socialIcons {
  display: flex;
  justify-content: center;
}
.iconStyle {
  margin: 20px 10px 20px 10px;
}
.editBtn{
  display: flex;
  justify-content: end;
}
